*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: #f2ebeb;
    height: 100vh;
}


/* header */

#header{
    border-radius: 0 50px 50px 0;
    width: 251px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 2;
    display: flex;
    align-items: end;
}

#header .p3-4 img{
    width: 156px;
    margin-left: 8px;
    border-radius: 50%;
}

.cover{
    width: 158px;
    height: 155px;
    border-radius: 50%;
    background: rgba(0, 0, 0,0.5);
    position: fixed;
    top: 10px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
    opacity: 0;
}
.p3-4:hover .cover{
    opacity: 1;
}
.cover i{
    margin-left: 20px;
    font-size: 30px;
    color: white;
}



.cover i:hover{
    color: rgb(10, 244, 10);
    cursor: pointer;
}

#header .p3-4{
    position: absolute;
    top: -10px;
    overflow: hidden;
    margin-top: 20px;
    left: 10px;
    width: 100%;
    margin-left: 5%;
}

/* li ul */

#header ul{
    position: relative;
    transform: skewY(-15deg);
    margin-left: 40px;
    margin-bottom: 70px;
}
#header li{
    position: relative;
    text-decoration: none;
    list-style: none;
    padding: 20px 50px;
    cursor: pointer;
    background: #3e3f46;
    padding: 15px;
    width: 200px;
    z-index: var(--i);
}

#header li::before{
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #2e3133;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

#header li:hover::before{
    background: #1f5378;
    transition: 0.5s;
}

#header li::after{
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    width: 100%;
    height: 40px;
    background-color: #35383e;
}

#header li:hover::after{
    background: #2982b9;
}

#header li a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

#header li:hover{
    background: #33a3ee;
    width: 100%;
    margin: 0;
    transform: translateX(50px);
}
#header li:hover a{
    color: white;
}


#header li:last-child::after{
    box-shadow: -120px 100px 20px rgba(0, 0, 0, 0.5);
}



/* search box */
#big-box{
    background: #1c2cd9;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.search-box {
    margin-top: 2px;
	width: 40px;
	height: 40px;
	position: relative;
	overflow: hidden;
	transition: 0.2s ease;
	border-radius: 25px;
    background: white;
    margin-left: 150px;
}

.search-box i{
    width: 40px;
    height: 40px;
    font-size: 27px;
    position: fixed;
    top: -60px;
    left: 0px;
    z-index: 3;
    color: black;
    text-align: center;
    line-height: 200px;
    /* background: #000; */
    margin-left: 300px;
}

 .search-input {
	width: 300px;
	height: 40px;
	border: none;
    outline: none;
	box-shadow: none;
	background: transparent;
	color: #000;
	padding: 20px 20px  20px 40px;
	font-size: 20px;
    background-color: white;
    position: fixed;
    z-index: 1;
    margin-left: 150px;
    border-radius: 25px;
}

/* .btn {
	color: #242628;
	outline: none;
	border: none;
	width: 50px;
	height: 50px;
	 position: absolute; 
	right: 0;
	top: 0;
	cursor: pointer;
	font-size: 30px;
    background: white;
} */



.btn{
    position: relative;
    right: 0;
    width: 100px;
    height: 50px;
    margin-right: 10px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}

.btn:hover{
    color: #fbff00;
    font-size: 22px;
    font-weight: 600;
    width: 150px;
    cursor: pointer;
}


.dky{
    position: absolute;
    margin-right: 160px;
}

.dnh{
    position: absolute;
    margin-right: 10px;
    width: 130px;
    line-height: 30px;
}

/* trang bìa */
#bia{
    margin-left: 21%;
    width: 80%;
}

#bia img {
    width: 96%;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 4px 4px #000;
}

/* lý lịch */

#profile{
    height: 100px;
    margin-left: 300px;
    width: 500px;
    margin-top: 5%;
    margin-bottom: 100px;
    background: white;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 6px 6px #333;
    background: linear-gradient(to right , rgba(64, 108, 255,0.8), rgba(64, 108, 255,0.4));
}


#profile:hover{
    width: 76%;
    transition: 2s;
    height: 400px;
}

#profile:hover h1{
    opacity: 1;
    transition: 2s;align-items: center;
    position: relative;
    left: 50%;
    transform: rotate(-90deg);
    top: -30%;
    left: -35%;
    font-size: 75px;
    text-transform: uppercase;
    color: #ffa51e;

}

#profile:hover marquee{
    opacity: 1;
    transition-delay: 2s;
    margin-top: 0%;
    margin-left: 35%;
    height: 200px;
    color: white;
}
#profile h1{
    position: relative;
    top: 25%;
    left: 40%;
}


#profile marquee{  
    opacity: 0; 
    transition-delay: 2s;
    transition: 0.5s;
}

#experence{
    margin-bottom: 100px;
    transition: 2s;
    height: 100px;
    margin-left: 300px;
    width: 500px;
    text-align: center;
    margin-top: 5%;
    background: white;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 6px 6px #333;
    background: linear-gradient(to right , rgba(63, 247, 49,0.8), rgba(63, 247, 49,0.4));
    flex-wrap: nowrap;
}

#experence ol {
    opacity: 0;
}


#experence h1{
    position: relative;
    top: 25%;
    left: 25px;
    color: rgb(210, 48, 218);
    transition: 2s;
}

#experence:hover{
    display: flex;
    align-items: center;
    margin-left: 25%;
    height: 400px;
    width: 76%;
    margin-top: 5%;
    background: linear-gradient(to right , rgba(63, 247, 49,0.8), rgba(63, 247, 49,0.4));
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 6px 6px #333;
}

#experence:hover ol{
    margin-left: 15%;
    opacity: 1;
    transition-delay: 2s;
}

#experence:hover li{
    margin-top: 10%;
}

#experence:hover li a{
    color: white;
    text-decoration: none;
}

#experence:hover h1{
    left: 5%;
    top: 0%;
    transform: rotate3d(180deg) ;
}
#achie h1{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
    padding-top: 15px;
}
#more h1{
    font-size: 50px;
    position: absolute!important;
    left: 60%!important;
    margin-top: 1%;
}

/* achie */
#achie h2,
#achie ul li a,
#achie ul li{
    opacity: 0;
}

#achie{
    margin-bottom: 100px;
    transition: 2s;
    height: 100px;
    margin-left: 300px;
    width: 500px;
    margin-top: 5%;
    background: white;
    border-radius: 10px;
    box-shadow: 6px 6px #333;
    background: linear-gradient(to right , rgba(63, 247, 49,0.8), rgba(63, 247, 49,0.4));
}

#achie:hover{
    /* transform: rotate(360deg); */
    transition: 2s;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 25%;
    height: 400px;
    width: 76%;
    margin-top: 5%;
    background: white;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 6px 6px #333;
    background: linear-gradient(to right , rgba(255, 47, 47, 0.4), rgba(255, 61, 61, 0.3));
}
#achie:hover h1{
    margin-top: -10%;
    color: white;
}

#achie:hover h2{
    opacity: 1;
    font-size: 25px;
}
#achie:hover ul{
    opacity: 1;
    margin-left: 10%;
    margin-top: 10%;
    align-items: center;
    font-size: 20px;
}

#achie:hover ul li{
    opacity: 1;

} 

#achie:hover ul a{
    opacity: 1;

    color: #98ff29;
    text-decoration: none;
}

/* more */
#more h1{
    color: rgb(255, 66, 66);
}

#more{
    margin-bottom: 100px;
    display: flex;
    margin-left: 300px;
    height: 400px;
    width: 76%;
    margin-top: 5%;
    background: white;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 6px 6px #333;
    background: linear-gradient(to right , rgba(255, 255, 69, 0.6), rgba(255, 255, 69,0.3));
}


#more .wrapper {
    width: 40%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    margin: 10% 5% 0 5%;
    height: 65%;
}

#more .title {
	font-size: 22px;
	font-weight: 600;
}

#more .content {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin: 20px 0;
	border-radius: 5px;
	border: 1px solid #888;
}

#more .content li {
	color: #333;
	margin: 4px 3px;
	list-style: none;
	border-radius: 5px;
	background: #8cc84c;
	padding: 10px;
	color: white;
}

#more .content li i {
	margin-left: 10px;
	cursor: pointer;
}

#more .content input {
	flex: 1;
	padding: 5px;
	border: none;
	outline: none;
	font-size: 20px;
}

#more button {
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 5px;
	background: #8cc84c;
	transition: all 0.3s ease;
	font-size: 16px;
}

#more button:hover {
	background: #7cac49;
}


#question{
    
    width: 40%;
    margin: 10% 5% 10% 5%;
    float: right;

}

#question input{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    max-width: 50%;
    font-size: 16px;
}   

#question .name{
    margin-left: 42px;
}

#question .email{
    margin-left: 77px;
}


#question .ngsinh{
    margin-left: 36px;
    padding-right: 5%;

}

#question .hoi{
    padding-right: 5%;
    margin-left: 53px;
}


#footer{
    margin-left: 10px;
    width: 100%;
    position: relative;
}
#footer .icon{    
    height: 45px;
    text-align: center;
    background: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
    bottom: 0;
}

#footer .icon a{
    text-decoration: none;
}

#footer .icon i{
    font-size: 25px;
    color: #fff;
    padding: 20px;
}
#footer .icon i:hover{
    opacity: 0.8;
}

